/* TODO: Convert this file to a .styles.ts file */
/* TODO Make sure that there are no inline styles in here and everything will come from the theme */

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(60px);
  font-weight: 900;
  letter-spacing: calc(-0.125rem * var(--mantine-scale));
  text-align: center;
  margin-bottom: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.description {
  max-width: calc(31.25rem * var(--mantine-scale));
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(3.125rem * var(--mantine-scale));
  color: var(--mantine-color-dimmed);
}

.highlight {
  background-image: linear-gradient(45deg, var(--mantine-color-pink-filled) 0%, var(--mantine-color-yellow-filled) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: var(--mantine-spacing-md);
  background-color: rgb(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255, 255, 255, 0.05);
}

.cardHeader {
  display: flex;
  margin-bottom: var(--mantine-spacing-md);
}

.cardIcon {
  margin-bottom: var(--mantine-spacing-lg);
  padding: var(--mantine-spacing-xs);
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cardDescription {
  margin-bottom: var(--mantine-spacing-lg);
}

.cardButton {
  margin-top: auto;
  align-self: flex-start;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--mantine-spacing-xl);
}